<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="javascript/index.js" defer></script>
        <link href="stylesheets/index.css" rel="stylesheet">
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="topBar">
            <img id="logoImage"src="images/logo.png">
            <a  target="_blank" class="buttons" href="mailto:customerservice@aquaflow.com">Contact us</a>
            <a target="_blank" class="buttons" href="https://forms.office.com/e/ZKbzJE5JyU">Report A Bug</a>
        </div>
        <div class="stationMap">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1BBzOK_bu-m0Whl1VGc2-pQOnfmZVJMs&ehbc=2E312F"></iframe></div>
        <div class="stationTable">
            <table id="stationTable">
                <thead>
                    <tr>
                        <th>Water pump station</th>
                        <th>Quality</th>
                        <th></th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <% stations.forEach(e=>{ %>
                        <tr data-station='<%=e.station_id%>' >
                            <td><%=e.station_id%></td>
                            <td id="Quality">disconnected</td>
                            <td id="colourDisplay" class="disconnected"></td>
                            <td id="lastOnline"><%=e.last_Online.toUTCString()%></td>
                        </tr>
                        <%});%>
                </tbody>
            </table>
        </div>
    </body>
</html>